<p>บริการจองโต๊ะ</p>
<form>
    <div class="row mb-3">
      <label for="inputname3" class="col-sm-2 col-form-label">ชื่อ</label>
      <div class="col-sm-10">
        <input type="name" class="form-control" id="inputnamel3">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputnym3" class="col-sm-2 col-form-label">เบอร์โทรศัทพ์</label>
      <div class="col-sm-10">
        <input type="num" class="form-control" id="inputnum3">
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="1-2" id="1-2" value="option1" checked>
          <label class="form-check-label" for="1-2">
            1-2ที่
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="3-6" id="3-6" value="option2">
          <label class="form-check-label" for="3-6">
            3-6ที่
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="7-10" id="7-10" value="option3" disabled>
          <label class="form-check-label" for="7-10">
            7-10ที่
          </label>
        </div>
      </div>
    </fieldset>
    
    <button type="submit" class="btn btn-primary">ยืนยัน</button>
  </form>
